* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/*----------HEADER----------*/



header a img {
    height: 130px;
}

nav {
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
    color: #A9935A;
    font-size: 1.1em;
    margin: 20px;
}

.btn-outline-success {
    color: #A9935A;
    border-color: #A9935A;
}


/*----------MAIN----------*/
/*----------ALL SECCIONS APLIES----------*/


/*----------INDEX---------*/
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 40px 25px;
}
h3 {
    font-size: 2em;
    padding: 25px;
}

body {
    background-color: #F5F5F5;
}


.hero {
    background-image: url(../img/ukuhero.jpg);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 175px);
    display: flex;
    justify-content: center;
    align-items: center
}
.hero p {
    width: 60%;
    height: 150px;
    text-align: center;
    color: #8B0000;
    text-shadow: 1px 1px white;
    font-size: 1.5em;
}

.wts {
    background: linear-gradient(rgba(255, 255, 255, 0.353), rgba(255, 255, 255, 0.381)), url(../img/ukubgbb.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wts p {
    color: #8B0000;
    font-size: 2em;
    margin: 40px 40px;
}

.bottomwine {
    text-decoration: none;
    background-color: #8B0000;
    color: #F5F5F5;
    font-size: 1.5em;
    padding: 12px;
    text-align: center;
}

.bottomindex {
    display: flex;
    justify-content: center;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
}
.bottomindex div {
    margin: 20px 0;
    width: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.bottomindex div img {
    width: min( 300px, 60%);
    align-self: center;
}
.bottomindex h1 {
    margin-top: 10px;
}

.onlinemc {
    height: 50vh;
    background-color: #3C3C3C;
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.onlinemc h2 {
    color: #A9935A;
    margin: 20px 25px;
}
.onlinemc p {
    padding: 20px;
    font-size: 1.2em;
    width: 70%;
    text-align: center;
}

.getintouch {
    background: linear-gradient(rgba(255, 255, 255, 0.353), rgba(255, 255, 255, 0.381)), url(../img/ukubgbb.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.getintouch h2 {
    color: #8B0000;
    margin: 10px 25px;
}
.getintouch p {
    color: #8B0000;
    font-size: 1.5em;
    margin: 5vh 10vh;
}


/*---------NEW TO UKU---------*/
.ukufund {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: black;
    height: 60vh;
}

.ukufund img {
    height: 45vh;
    padding: 15px;
    background-color: white;
}

.ukufund div h3 {
    color: #8B0000;
}

.ukufund div {
    width: 70vh;
    padding: 40px;
}

.fatherut {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ukutypes {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ukutypes img {
    width: 25vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.filecontainer {
    display: flex;
    justify-content: space-around;
}

.file {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3C3C3C;
    color: #F5F5F5;
    text-align: center;
}

.file img {
    width: 98.5%;
    margin-top: 1%;

}

.file h4 {
    color: #8B0000;
    font-size: 1.4em;
    text-shadow: 2px 2px black;
}

.file a {
    text-decoration: none;
    background-color: #8B0000;
    color: #F5F5F5;
    font-size: 1.3em;
    padding: 10px;
    margin: 20px;
}

/*---------ARTISTS---------*/
.artists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.artiststop {
    background-image: url(../img/artiststop.png);
    background-position: center;
    background-position-x: center;
    min-height: 350px;
    width: 100%;
}

.artists p {
    width: 70%;
    text-align: center;
    color: #3C3C3C;
    margin-bottom: 10vh;

}

.artists h1 {
    color: #3C3C3C;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.artistscontainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.artistimg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.artistimg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 15px;
}

/*----------CONTACT ME----------*/


.contactme {
    background: linear-gradient(rgba(169, 147, 90, 0.353), rgba(169, 147, 90, 0.381)), url(../img/ukubg2.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
    font-size: 3em;
}

.contacttop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contactemailcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    margin: 5vh;
    margin-left: 0;
    border: 2px solid #3C3C3C;
}
.contactemail {
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactemail p {
    color: #8B0000;
    font-size: 1.5em;
}
.contactemail a {
    text-decoration: none;
    margin: 20px;
    color: #1d1d1d;
}
.contactemail img {
    height: 50px;
    margin: 20px;
}
.contactsmcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 340px;
    margin: 5vh;
    margin-right: 0;
    border: 2px solid #3C3C3C;
}
.contactsm {
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contactsm img {
    width: 30px;
    margin: 15px;
}
.sm img {
    width: 50px;
    margin: 20px;
}

.contactbottom {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.cbimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(450px, 50%);
}

.contactbottom div img {
    width: 100%;
    object-fit: cover;
    background-color: black;
}

.labelbg {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    width: min(650px, 50%);
}

.labelcontainer {
    color: #F5F5F5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 40px);
    gap: 5%;
    column-gap: 5%;
    width: 70%;
    height: 80%;
}

.labelcontainer p {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    text-align: center;
    color: #A9935A;
    font-size: 1.8em;
    margin: 10px;
}

/* .fullname {
    grid-column: 1 / 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.namecbcontainer {
    width: 100%;
    height: 100%;
}

.namecb {
    width: 100%;
    height: 100%;
}

.lastnamecbcontainer {
    width: 100%;
    height: 100%;
}

.lastnamecb {
    width: 100%;
    height: 100%;
}

.emailcbcontainer {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emailcb {
    width: 100%;
    color: #8B0000;
    height: 100%;
}

.textareacb {
    width: 100%;
}

.textareacbcontainer {
    grid-column: 1 / 3;
    grid-row: auto/ span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.labelcontainer a {
    background-color: #8B0000;
    margin: 0 auto;
    text-align: center;
    color: #F5F5F5;
    grid-column: 1 / 3;
}


/*---------COURSES---------*/
.coursewelcome {
    background-image: url(../img/courseindex.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.coursetypes {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coursetop {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.hdiw {
    height: 70vh;
}

.hdiwtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.hdiwcontainer {
    height: 40vh;
    display: flex;
    padding-left: 10vh;
    padding-right: 10vh;
    justify-content: space-evenly;
}

.hdiwcontainer div {
    margin: 1vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hditicon {
    font-size: 90px;
    color: #8B0000;
}

.coursetittle {
    background: linear-gradient(rgba(255, 255, 255, 0.353), rgba(255, 255, 255, 0.381)), url(../img/ukubgbb.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coursefile {
    margin: 0 auto;
    height: 25vh;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #3C3C3C;
    border-bottom: 2px solid #3C3C3C;
}

.coursefile a {
    text-decoration: none;
    background-color: #8B0000;
    color: #F5F5F5;
    font-size: 1.3em;
    padding: 10px;
    margin: 20px;
}

.coursefile img {
    width: 20vh;
}

.coursedesc {
    width: 30%;
    text-align: center;
}

/*----------FOOTER----------*/
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

}

footer a img {
    height: 130px;
    margin: 20px;
}

footer div a img {
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 10px;
}

.mail {
    font-size: 1.3em;
}


/*--------------MEDIA QUERRY-------------*/

@media screen and (max-width:768px){
    .hero p{
        font-size: 1.25em;
        height: 200px;
    }
    .wts p {
        color: #8B0000;
        font-size: 1.5em;
    
    }
    .bottomwine {
        text-decoration: none;
        background-color: #8B0000;
        color: #F5F5F5;
        font-size: 1.3em;
        padding: 12px;
    }
    .onlinemc p {
        padding: 15px;
        font-size: 1em;
    }
    .getintouch p {
        font-size: 1.25em;
        margin: 4vh 10vh;
    }
    .contactbottom {
        height: 500px;
    }


/*------------------------CONTACT ME------------------------*/
    .contactemailcontainer{
        margin: 5vh;
    }
    .contactsmcontainer{
        margin: 5vh;
    }
    .labelcontainer p {
        font-size: 1.5em;
    }
    .labelcontainer {
        grid-template-rows: repeat(5, 30px);
        gap: 4%;
        column-gap: 4%;
    }
    .labelbg {
        height: 500px;
        flex: none;
    }
    .namecbcontainer {
        width: 100%;
        grid-column: 1 / 3;
    }
    .lastnamecbcontainer{
        width: 100%;
        grid-column: 1 / 3;
    }

    /*------------------------ARTISTS------------------------*/
    .artistscontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:425px){
/*--------------------------INDEX--------------------------*/
    .hero p{
        font-size: 1em;
        height: 200px;
    }
    .wts p {
        color: #8B0000;
        font-size: 1.2em;
    
    }
    
    .bottomwine {
        text-decoration: none;
        background-color: #8B0000;
        color: #F5F5F5;
        font-size: 1em;
        padding: 12px;
    }
    .onlinemc p {
        padding: 10px;
        font-size: 0.8em;
    }
    .getintouch p {
        color: #8B0000;
        font-size: 1em;
        margin: 3vh 10vh;
    }
/*------------------------CONTACT ME------------------------*/
.contactbottom {
    display: block;
    height: 930px;
}
.labelbg {
    width: 80%;
    margin: 0 auto;
}
.cbimg{
    height: auto;
    width: 100%;
}

/*------------------------ARTISTS------------------------*/
.artistscontainer {
    grid-template-columns: 1fr;
}
}

.section-p {
    margin: 40px 25px;
}
