main {
    .artists {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .artiststop{
            background-image: url(../img/artiststop.png);
            background-position: center;
            background-position-x: center;
            min-height: 350px;
            width: 100%;
        }
        h1 {
            color: #3C3C3C;
            text-align: center;
            margin-top: 10vh;
            margin-bottom: 5vh;
        }
        p {
            width: 70%;
            text-align: center;
            color: #3C3C3C;
            margin-bottom: 10vh;
        }
        .artistscontainer {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            .artistimg {
                transition-property: all;
                transition-duration: 1s;
                &:hover {
                transform: scale(1.1);
                }
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    padding: 15px;
                }
            }
        }
    }
}