main {
    .contactme {
        background: linear-gradient(rgba(169, 147, 90, 0.353), rgba(169, 147, 90, 0.381)), url(../img/ukubg2.jpg);
        background-size: cover;
        background-position: center;
        height: 40vh;
        flex-direction: column;
        color: $lightcolor;
        font-size: 3em;
        @extend %flexcenter;
    }
    .contacttop {
        flex-wrap: wrap;
        @extend %flexcenter;
        .contactemailcontainer {
            width: 340px;
            margin: 5vh;
            margin-left: 0;
            border: 2px solid $darkcolor;
            @extend %flexcenter;
            .contactemail {
                height: 30vh;
                text-align: center;
                flex-direction: column;
                @extend %flexcenter;
                img {
                    height: 50px;
                    margin: 20px;
                }
                p {
                    color: $winecolor;
                    font-size: 1.5em;
                }
                a {
                    text-decoration: none;
                    margin: 20px;
                    color: #1d1d1d;
                }
            }
        }
        .contactsmcontainer {
            width: 340px;
            margin: 5vh;
            margin-right: 0;
            border: 2px solid $darkcolor;
            @extend %flexcenter;
            .contactsm {
                height: 30vh;
                text-align: center;
                flex-direction: column;
                @extend %flexcenter;
                .sm{
                    img {
                        width: 50px;
                        margin: 20px;
                    }
                }
                div {
                    a {
                        img {
                            width: 30px;
                            margin: 15px;
                        }
                    }
                }
            }
        }
    }
    .contactbottom {
        background-color: black;
        flex-direction: row-reverse;
        @include flexmix (space-evenly);
        .labelbg {
            background-color: black;
            height: 550px;
            width: calc(min(650px, 50%));
            @extend %flexcenter;
            .labelcontainer {
                color: #F5F5F5;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(5, 40px);
                gap: 5%;
                column-gap: 5%;
                width: 70%;
                height: 80%;
                p {
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                    text-align: center;
                    color: $earthcolor;
                    font-size: 1.8em;
                    margin: 10px;
                }
                .namecbcontainer {
                    width: 100%;
                    height: 100%;
                    .namecb {
                        width: 100%;
                        height: 100%;
                    }
                }
                .lastnamecbcontainer {
                    width: 100%;
                    height: 100%;
                    .lastnamecb {
                        width: 100%;
                        height: 100%;
                    }
                }
                .emailcbcontainer {
                    grid-column: 1 / 3;
                    flex-direction: column;
                    @extend %flexcenter;
                    .emailcb {
                        width: 100%;
                        color: $winecolor;
                        height: 100%;
                    }
                }
                .textareacbcontainer {
                    grid-column: 1 / 3;
                    grid-row: auto/ span 2;
                    flex-direction: column;
                    @extend %flexcenter;
                    .textareacb {
                        width: 100%;
                    }
                }
                a {
                    margin: 0 auto;
                    grid-column: 1 / 3;
                }
            }
        }
        .cbimg {
            flex-direction: column;
            width: calc(min(450px, 50%));
            @extend %flexcenter;
            img {
                width: 100%;
                object-fit: cover;
                background-color: black;
            }
        }
    }
}