footer {
    width: 100%;
    flex-direction: column;
    margin: 30px 0;
    @extend %flexcenter;
    a {
        img {
            height: 130px;
            margin: 20px;
        }
    }
    .mail {
        font-size: 1.3em;
    }
    div {
        a {
            img {
                width: 50px;
                height: 50px;
                padding: 5px;
                margin: 10px;
                transition: 1.2s;
                &:hover {
                    transform: rotateZ(-20deg);
                }
            }
        }
    }
    p {

    }
}