header {
    .navbar {
            font-size: 1.2em;
            div {
                background-color: #212529;
                border-color: rgba(255, 255, 255, .75);
                a {
                    img {
                        height: 130px;
                    }
                }
                div {
                    .d-flex {
                        .btn {
                            transition-property: all;
                            transition-duration: 1s;
                        }
                        .btn-outline-success {
                                color: $earthcolor;
                                border-color: $earthcolor;
                            &:hover{
                                background-color: #212529;
                                color: rgba(255, 255, 255, .75);
                                border-color: rgba(255, 255, 255, .75);
                            }
                        }
                    }
                }
        }
    }
}