main {
    .ukufund {
        border-color: black;
        height: 60vh;
        @extend %flexcenter;
        img {
            width: calc(min(500px,50%));
            padding: 15px;
            background-color: white;
        }
        div {
            text-align: center;
            width: 60%;
            padding: 40px;
            h1 {
                color: #8B0000;
            }
            p {
                width: 90%;
            }
        }
    }
    .fatherut {
        @extend %flexcenter;
        .ukutypes{
            width: 70%;
            flex-wrap: wrap;
            @include flexmix (space-around);
            div{
                img{
                    width: 25vh;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }
    }
    section {
        .filecontainer {
            flex-wrap: wrap;
            margin: 0 auto;
            @include flexmix (space-around);
            .file {
                margin: 20px;
                width: 50vh;
                flex-direction: column;
            @include flexmix (space-between);
                background-color: #3C3C3C;
                color: #F5F5F5;
                text-align: center;
                img {
                    width: 98.5%;
                    margin-top: 1%;
                }
                h4 {
                    color: #8B0000;
                    font-size: 1.4em;
                    text-shadow: 2px 2px black;
                }
                a {
                    margin-bottom: 10px;
                }
                p {
                    height: 12vh;
                    @extend %flexcenter;
                }
            }
        }
    }
}