* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin: 40px 25px;
}

h3 {
    font-size: 2em;
    padding: 25px;
}
.bottomwine {
    text-decoration: none;
    background-color: #8B0000;
    color: #F5F5F5;
    font-size: 1.5em;
    padding: 12px;
    text-align: center;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 15%;
    &:hover {
        background-color: #1d1d1d;
        color: #A9935A;
    }
}
body {
    background-color: #F5F5F5;
}